@(dakokuSelectList: List[DakokuSelect], dakokuForm: Form[(String, String)])(implicit flash: Flash)

@import helper._

@main("出勤") {

@form(action = routes.DakokuController.update) {

@dakokuForm.globalError.map { error =>
<p class="error">
	@error.message
</p>
}
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>社員コード</th>
			<th>社員名</th>
			<th>打刻日時（出勤）</th>
			<th>打刻場所（出勤）</th>
		</tr>
	</thead>
	<tbody>
		@dakokuSelectList.map { e =>
		<tr>
			<td>@e.employee_cd</td>
			<td>@e.name</td>
			<td>@e.start_work_at_display</td>
			<td>@e.start_work_geo</td>
		</tr>
		}
	</tbody>
</table>
@inputText(dakokuForm("employee_cd"))
<input type="hidden" name="dummy" id ="dummy" >

<input type="submit" value="work_start">
}

} 